.detail {
    margin: 0 auto;
    width: 70%;
    min-height: 100vh;
    .detail_content {
        margin-bottom: 20px;
        background-color: #fff;
        padding: 24px;
        .title {
            margin-bottom: 24px;
        }
        .detail_content_info {
            color: #666666;
            font-size: 13px;
            margin-top: 12px;
        }
        .detail_content_detail {
            font-size: 16px;
            margin-top: 24px;
        }
    }
}